@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(10%)
    saturate(6205%) hue-rotate(221deg) brightness(91%) contrast(94%);

  --body-bg: #f6f6f6;
  --header-bg-color: #eeeeee;
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;

  @include abstracts.breakpoint(lg) {
    --header-bg-color: #fff;
    --header-shadow: rgba(237, 237, 246, 0.2);
  }

  // dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(7%) sepia(25%)
    saturate(2971%) hue-rotate(223deg) brightness(94%) contrast(94%);
}
